

.section{
    width: 100%;
    min-height: 90vh;
    background-color: rgb(195, 47, 39);
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 55%;
    color: rgb(255, 240, 242);
}

.image-section{
    float: right;
    width:40%;
    right: 20px;

}

.image-section img{
    width: 80%;
    height: auto;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    color: rgb(247,181,56);
}


.content-section .content h3{
    margin-top: 20px;
}

.content-section .content p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 2;
}

@media screen and (max-width: 768px){
    .container{
        width:80%;
        display:block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float:none;
        width:100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float:none;
        width: 100%;
        display: block;
        margin:  auto 0;
        left: 20px;
   
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content{
        text-align: center;
    }
}