* {
    font-family: 'Montserrat', sans-serif;
}

.calendar-container {
    width: 100%;
    height: 800px;
    overflow: hidden;
    padding: 8px;
  }
  
  .calendar-iframe {
    padding: 9px;
    width: 100%;
    height: 100%;
    border: none;
  }
  

.header-text-Events {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: black;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 768px) {
    .container-1 {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .item-container {
        width: 100%;
        height: auto; /* Allow the card to resize based on its content */
        margin: 10px 0;
    }

    .img-container img {
        height: auto; /* Adjust image height for responsiveness */
    }

    .overlay {
        height: auto; /* Adjust the overlay height for responsiveness */
    }

    .action {
        top: 20px;
    }
}
