.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-text {
    padding-bottom: 45rem;
    font-weight: normal;
    font-size: 70px;
    text-align: center;
  }
  .image-slider {
    max-width: 1800px;
    width: 100%;
    aspect-ratio: 8/2;
    object-fit: cover;
    margin: 0 auto;
    position: absolute;
    top:210px;
}

.inner-text{
    color: rgb(220,47,2);
    font-size: 70px;
    font-weight: bolder;
}

.slider-container {
    max-width: 1600px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

.mission-section {
    padding: 30px;
    text-align: center;
}
.mission-section h1{
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}
.mission-statement {
    padding: 40px;
    font-size: 25px;
    color: #333;
    margin-bottom: 20px;
}

.under-line{
    border: 2px solid rgb(0, 127, 95);
    border-radius: 2px;
}

@media (max-width: 750px) {
  .header-text{
    padding-bottom: 45rem;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
  }
  .inner-text{
    color: rgb(220,47,2);
    font-size: 50px;
    font-weight: bolder;
}

  .image-slider {
    max-width: 1200px;
    width: 100%;
    height: 275px;
    margin: 0 auto;
    position: absolute;
}
}